# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

/**/*_debug_*

# Plugin Spot
/src/layers/layers.go
/src/layers/README.md
/src/layers/exampleLayer.go
/src/proto
/src/proto-gen
/src/servers/
src/.clang-format
src/go.mod
src/go.sum
src/main.go
src/stackspot.yaml
src/Makefile.spot